<!-- films/templates/films/film_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Film</title>
</head>
<body>
    <h2>Добавить новый фильм</h2>
    <form method="post" action="{% url 'add_film' %}">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" required></textarea><br><br>
        <label for="review">Review:</label><br>
        <textarea id="review" name="review" rows="4"></textarea><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
